{erl_opts, [no_debug_info]}.
{deps, [{lfe, "2.0.1"}]}.
{project_plugins, [rebar3_format]}.
{format, [
    {files, ["src/*.erl", "include/*.hrl", "test/*.erl", "samples/*.erl"]},
    {formatter, default_formatter},
    {options, #{paper => 80}}
]}.

{escript_incl_apps, [efe, lfe]}.
{escript_main_app, efe}.
{escript_name, efe}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test, [{erl_opts, [debug_info]}]}]}.
